# dependencies
node_modules

# compiled output
build
release
public
config/lib_min-config.json
config/react_min-config.json
config/lib-config.json
config/react-config.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db